<!doctype html>
<html lang="en">

<%- include('partials/_head', { title: 'Home' }) %>

<body>
  <div class="container mt-4">
    <%- include('partials/_navbar') %>
    <h1>Welcome to Oxreciprocity</h1>
    <%- include('partials/_about') %>
    <div class="friends-list">
      <%- include('partials/_friendsList') %>
    </div>
  </div>
  <%- include('partials/_scripts') %>
</body>

</html>