<!doctype html>
<html lang="en">

<%- include('partials/_head', { title: 'Login' }) %>

<body>
  <div class="container mt-4">
  <%- include('partials/_navbar') %>
  <h1>Thanks for verifying your email</h1>
  
  <p>Please now log in with Facebook, so we can find your friends who've also signed up.</p>
  <a href="/auth/login"><button class="btn mb-3 login-btn fb-login" type="button">Continue with Facebook</button></a>
  <%- include('partials/_about') %>
  <%- include('partials/_footer') %>
</div>
<%- include('partials/_scripts') %>
</body>

</html>