<!doctype html>
<html lang="en">

<%- include('partials/_head', { title: 'Matches' }) %>

<body>
  <div class="container mt-4">
    <%- include('partials/_navbar') %>
      <div>
        <h1>Your matches</h1>
        <%- include('partials/_mutualMatches') %>
      </div>
    <%- include('partials/_footer') %>
  </div>
  <%- include('partials/_scripts') %>
</body>

</html>